/* *************** */
/* HTML Tag Styles */
/* *************** */

/* Brandable -- Page Colors -- Background Color */
body
{
	MARGIN:0px;
	BACKGROUND:#FFFFFF;
	FONT-FAMILY:verdana;
	FONT-SIZE:12px;
	COLOR:#000000;
}

/* Brandable -- Page Colors -- Panel Group Text Color */
legend
{
	color:#0000FF;
}

/* Brandable -- Page Colors -- Unused Link Font Color */
/* Brandable -- Fonts -- Link Font Size */
a
{
	COLOR:#000000;
	TEXT-DECORATION:underline;
	BACKGROUND:none;
	FONT-SIZE:11px;
	CURSOR:pointer;
}

/* Brandable -- Page Colors -- Used Link Font Color */
a:visited
{
	COLOR:#666000;
}

/* Brandable -- Page Colors -- Dropdown BG Color */
/* Brandable -- Page Colors -- Dropdown Font Color */
/* Brandable -- Fonts -- Dropdown Font Size */
select
{
	BACKGROUND-COLOR:#ffffff;
	COLOR:#00699B;
	FONT-SIZE:9px;
}

/* Sets border width of images */
img
{
	BORDER-WIDTH:0;
}


/* ************* */
/* Custom Styles */
/* ************* */

/* Brandable -- Page Colors -- Standard Font Color */
/* Brandable -- Fonts -- Standard Font Size */
.standardFont
{
	FONT-SIZE:11px;
	COLOR:#000000;
}

/* Brandable -- Page Colors -- Standard Font Color (COLOR dependency on .standardFont COLOR) */
/* Brandable -- Fonts -- Bold Font Size */
.boldFont
{
	FONT-WEIGHT:bold;
	FONT-SIZE:11px;
	COLOR:#000000;
}

/* Small gray font style */
/* Brandable -- Fonts -- Gray Font Size */
.smallGrayFont
{
	COLOR:#666;
	TEXT-DECORATION:none;
	FONT-SIZE:9px;
}

/* Brandable -- Page Colors -- Section Header BG Color */
/* Brandable -- Page Colors -- Section Header Font Color */
/* Brandable -- Fonts -- Section Header Font Size */
.panelHeader
{
	BORDER:1px solid #A8A8A8;
	BACKGROUND:#990000;
	PADDING:2px 2px 3px 2px;
	COLOR:#FFFFFF;
	FONT-SIZE:12px;
	HEIGHT:23px;
	line-height:23px;
}

/* Sets cursor style on panel header */
.panelHeader div
{
	cursor:pointer;
}

/* Brandable -- Page Colors -- Section Header Font Color (COLOR dependency on .panelHeader COLOR) */
.panelHeader a
{
	COLOR:#FFFFFF;
}

/* Sets vertical alignment for images in panel headers */
.panelHeader img
{
	vertical-align:Middle;
	padding-right:5px;
}

/* Used in conjunction with .panelHeader to make sure screen readers work properly */
.PageHeader
{
	FONT-SIZE:100%;
	FONT-WEIGHT:normal;
	display:inline;
}

/* Brandable -- Page Colors -- Panel BG Color */
.panelBorder
{
	BACKGROUND:url( '/ISuite5/Images/Default/Universal/Styles/GrayShadow.png' ) repeat-x;
	BACKGROUND-POSITION:top;
	BORDER-RIGHT:1px solid #999;
	BORDER-LEFT:1px solid #999;
	BORDER-BOTTOM:6px solid #999;
	PADDING-LEFT:6px;
	PADDING-RIGHT:6px;
	PADDING-TOP:10px;
	PADDING-BOTTOM:10px;
}

/* Brandable -- Page Colors -- Table Border Color */
.tableBorder
{
	BORDER-COLOR:#FFFFFF;
	BORDER-WIDTH:1px;
	BORDER-STYLE:solid;
	PADDING:0px;
}

/* Brandable -- Page Colors -- Table Header BG Color */
/* Brandable -- Page Colors -- Table Header Font Color */
/* Brandable -- Fonts -- Table Header Font Size */
.tableHeader
{
	BACKGROUND:#DCE3E4;
	COLOR:#000000;
	FONT-SIZE:11px;
	FONT-WEIGHT:bold;
	PADDING:2px;
	TEXT-ALIGN:left;
}

/* Sets table header padding */
.tableHeader th
{
	padding:5px;
}

/* Sets padding for hyperlink in table header  */
.tableHeader a
{
	padding-right:5px;
}

/* Brandable -- Page Colors -- Table Row BG Color */
/* Brandable -- Page Colors -- Table Row Font Color */
/* Brandable -- Fonts -- Table Row Font Size */
.tableRow
{
	BACKGROUND-COLOR:#ffffff;
	FONT-SIZE:11px;
	COLOR:#000000;
}

/* Sets table row cell padding */
.tableRow td
{
	padding:5px;
}

/* Sets hyperlink font size for table rows */
.tableRow a
{
	FONT-SIZE:inherit;
}

/* Brandable -- Page Colors -- Table Alt Row BG Color */
/* Brandable -- Page Colors -- Table Alt Row Font Color */
/* Brandable -- Fonts -- Table Alt Row Font Size */
.tableAltRow
{
	BACKGROUND-COLOR:#DCE3E4;
	FONT-SIZE:11px;
	COLOR:#000000;
}

/* Sets table alternate row cell padding */
.tableAltRow td
{
	padding:5px;
}

/* Sets hyperlink font size for alternate table rows */
.tableAltRow a
{
	FONT-SIZE:inherit;
}

/* Brandable -- Page Colors -- Label Background Color */
/* Brandable -- Page Colors -- Label Font Color */
/* Brandable -- Fonts -- Label Font Size */
.standardLabelCell
{
	BACKGROUND:#990000;
	COLOR:#FFFFFF;
	FONT-SIZE:11px;
	FONT-WEIGHT:bold;
	PADDING:2px 0px 5px 0px;
	TEXT-ALIGN:left;
}

/* Style for controls that allow data entry, usually textboxes */
/* Brandable -- Page Colors -- TextBox BG Color */
/* Brandable -- Page Colors -- TextBox Font Color */
/* Brandable -- Fonts -- TextBox Font Size */
.input
{
	COLOR:#00699B;
	FONT-SIZE:9px;
	BACKGROUND:#FFFFFF;
}

/* Brandable -- Page Colors -- Button BG Color */
/* Brandable -- Page Colors -- Button Font Color */
/* Brandable -- Fonts -- Button Font Size */
.button
{
	BACKGROUND:#990000;
	COLOR:#FFFFFF;
	FONT-SIZE:11px;
	LINE-HEIGHT:11px;
	HEIGHT:22px;
	BORDER:0px none;
	Margin:2px 0px;
}

/* Sets rounded button BG color */
.roundedbutton
{
	BACKGROUND:transparent;
}

/* Generic container style (i.e. div) for rounded buttons */
.roundedbuttonContainer
{
	OVERFLOW:HIDDEN;
	WIDTH:100%;
	DISPLAY:INLINE;
	MARGIN:0PX 2PX;
}

/* Error Message style */
/* Brandable -- Fonts -- Error Message Font Size */
.errorMessage
{
	COLOR:red;
	FONT-SIZE:12px;
}

/* Placeholder style */
/* Brandable -- Fonts -- Disclosure Font Size */
.disclosure
{
	OVERFLOW:auto;
	HEIGHT:100px;
	PADDING:4px;
	TEXT-ALIGN:justify;
	FONT-SIZE:9px;
	COLOR:#518A9F;
}

/* Brandable -- Page Colors -- Used Link Font Color (COLOR dependency on a:visited COLOR) */
.LinkButtonVisited
{
	COLOR:#666000;
}

/* Red hyperlink style */
.redLink
{
	COLOR:#FF0000;
	TEXT-DECORATION:none;
	BACKGROUND:none;
	FONT-SIZE:11px;
}

/* Sets visited red hyperlink color */
.redLink:visited
{
	COLOR:#FF0000;
}

/* Scroll grid table header styles */
.scrollgrid table th
{
	BORDER-COLOR:#00699B;
	BORDER-WIDTH:1px;
	BORDER-STYLE:groove;
}

/* Scroll grid table cell styles */
.scrollgrid table td
{
	BORDER-COLOR:#000000;
	BORDER-WIDTH:1px;
	BORDER-STYLE:groove;
}

/* Sets the padding and border of home page */
.HomePageBorderPad
{
	BORDER:#CCCCCC solid 1px;
	PADDING:6px;
}

/* Sets padding for top area of landing page */
.landingpageborderPad
{
	BORDER:#CCCCCC solid 1px;
	PADDING:6px;
}

/* Style used for Landing Page Scrolling Marquee */
.SystemMessagesMarquee
{
	width:95%;
	height:12px;
	background-color:Transparent;
	color:Black;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	border:none;
}

/* Sets background color for Another Account controls on Make Transfer page */
.GrayBackground
{
	BACKGROUND-COLOR:#EEEEEE;
}

/* Used by Fiserv Mobile Money in-frame SSO */
.FiservMobilitiInFrame
{
	z-index:2499;
}

/* Used by the CheckFree SSO Quick Pay IFrame */
.CheckFreeQPIFrame
{
	height:380px;
	width:100%;
}

/* Used by Webloan required field controls */
.WLRequiredField
{
	COLOR:red;
}

/* Used by Webloan optional field controls */
.WLOptionalField
{
	COLOR:black;
}


/* ********************* */
/* Custom Styles for MFA */
/* ********************* */

/* MFA Step-by-Step Frame Style */
/* Brandable -- Page Colors -- Page Border Color (External) */
.MFAFrame
{
	BORDER:solid 1px;
	PADDING:0px;
	border-color:#CCCCCC;
}

/* MFA Step-by-Step Active Step Style */
.MFACurrentStep
{
	BACKGROUND:inherit;
	FONT-SIZE:11px;
	COLOR:#00A000;
}

/* MFA Step-by-Step Inactive Step Style */
.MFAInactiveStep
{
	BACKGROUND:inherit;
	FONT-SIZE:11px;
	COLOR:#555555;
}


/* ****************** */
/* Master Page Styles */
/* ****************** */

/* Sets background for main content area for all pages */
.Page_ContentArea
{
	BACKGROUND:transparent;
}

/* Brandable -- Menu and Bar Colors -- Bottom Bar Color */
/* Brandable -- Fonts -- Bottom Bar Font Size */
.bottomBar
{
	BACKGROUND:#990000;
	background-repeat:repeat;
	HEIGHT:23px;
	COLOR:#FFFFFF;
	PADDING-top:6px;
	FONT-SIZE:9px;
}

/* Date font style */
/* Brandable -- Fonts -- Date Font Size */
.dateFont
{
	FONT-WEIGHT:bold;
	FONT-SIZE:9px;
	color:#000000;
}

/* Brandable -- Page Colors -- Member Name Font Color */
/* Brandable -- Fonts -- Member Name Font Size */
.headerMemberNameFont
{
	FONT-WEIGHT:bold;
	FONT-SIZE:11px;
	COLOR:#000000;
}

/* Sets padding for main content area for all pages */
/* Brandable -- Page Colors -- Page Border Color (Internal) */
.borderPad
{
	BORDER:solid 1px;
	PADDING:6px;
	border-color:#CCCCCC;
}

/* Style used for certain elements within default marketing tab text */
.headstrong
{
	FONT-SIZE:inherit;
	FONT-WEIGHT:bold;
	COLOR:#006699;
	BORDER-BOTTOM:#FF9900 1px solid;
	DISPLAY:block;
	PADDING:4px;
}


/* ****************** */
/* Master Page Header */
/* ****************** */

/* Brandable -- Page Colors -- Page Header BG Color */
.header
{
	background:#FFFFFF;
	background-repeat:repeat;
	color:#FFFFFF;
	clear:both;
	width:100%;
	margin:0px;
	*margin-top:-10px;
	overflow:hidden;
	text-align:center;
}

/* Sets header content alignment and positioning */
.header div
{
	display:inline;
	padding:0;
	margin:0;
}

/* Sets header logo alignment and positioning */
.header .logo
{
	float:left;
}

/* Sets header banner alignment and positioning */
.header .banner
{
	text-align:center;
}

/* Sets Cross Selling div position and alignment */
.header .banner div
{
	float:left;
	text-align:center;
	min-width:460px;
	width:50%;
}

/* Sets Cross Selling banner table cell and image alignment and positioning */
.header .banner div table tbody tr td, .header .banner div table tbody tr td img
{
	width:460px;
	height:58px;
	margin-top:20px;
	text-align:center;
}

/* Sets alignment and positioning for right third of header */
.header .globalnav
{
	float:right;
	clear:right;
	padding-top:0px;
	text-align:right;
	white-space:nowrap;
}

/* Sets margin between global navigation icons on master page */
.header .iconSpacing
{
	MARGIN-RIGHT:0px;
}


/* ****************** */
/* Master Page Footer */
/* ****************** */

/* Brandable -- Page Colors -- Page Footer BG Color */
.footer
{
	background:#FFFFFF;
	background-repeat:repeat;
	color:#000000;
	clear:both;
	width:100%;
	margin:0px auto;
	overflow:hidden;
}

/* Sets association logos content alignment and positioning */
.footer .AssociateLogos
{
	float:left;
	width:auto;
	max-width:66%;
}

/* Sets association logos div alignment and positioning */
.footer .AssociateLogos div
{
	WIDTH:inherit;
	MAX-WIDTH:215px;
	display:inline;
	padding:2px;
	margin:0 5px 2px 0;
	float:left;
}

/* Sets association logos div paragraph alignment and positioning */
.footer .AssociateLogos div p
{
	display:inline;
	margin-top:0px;
	overflow:hidden;
}

/* Sets width for Unauthorized Access label in footer */
.footer .Regulation
{
	WIDTH:auto;
}

/* Footer links disclosure style */
.footer .footerlinks
{
	float:right;
	clear:right;
	margin-top:5px;
	width:auto;
	text-align:right;
	color:#000000;
	padding-right:10px;
}


/* ************************ */
/* Landing Page Tab Control */
/* ************************ */

/* Landing Page tabs style */
/* Brandable -- Page Colors -- Panel BG Color (BACKGROUND dependency on .panelBorder BACKGROUND) */
.tabcontentstyle
{
	BORDER:1px solid #688397;
	BACKGROUND:url( '/ISuite5/Images/Default/Universal/Styles/GrayShadow.png' ) repeat-x;
	BACKGROUND-POSITION:top;
	WIDTH:98%;
	HEIGHT:100%;
	PADDING:5px;
	FONT:normal Verdana;
	font-size:inherit;
}

/* Brandable -- Page Colors -- Active Tab BG Color */
/* Brandable -- Page Colors -- Active Tab Font Color */
/* Brandable -- Fonts -- Landing Page Tab Header Font Size */
.activetab span
{
	TEXT-DECORATION:none;
	PADDING:3px 3px 4.2px 3px;
	BORDER:1px solid #688397;
	BORDER-bottom:0px;
	COLOR:#000000;
	BACKGROUND:url('/ISuite5/Images/Default/Universal/Styles/TabCtrl_ShadeActive.gif') top left repeat-x;
	FONT:normal Verdana;
	BOTTOM:-1px;
	font-size:12px;
	white-space:nowrap;
	LINE-HEIGHT:23px;
	MARGIN-RIGHT:3px;
	*MARGIN-RIGHT:0px;
	*margin-left:3px;
}

/* Brandable -- Page Colors -- Active Tab Hover BG Color */
/* Brandable -- Page Colors -- Active Tab Hover Font Color */
.activetab span:hover
{
	BACKGROUND:url('/ISuite5/Images/Default/Universal/Styles/TabCtrl_ShadeActive.gif') top left repeat-x;
	COLOR:#000000;
}

/* Brandable -- Page Colors -- Inactive Tab BG Color */
/* Brandable -- Page Colors -- Inactive Tab Font Color */
/* Brandable -- Fonts -- Landing Page Tab Header Font Size (FONT-SIZE dependency on .activetab span FONT-SIZE) */
.inactivetab span
{
	TEXT-DECORATION:none;
	PADDING:3px 3px 4.2px 3px;
	BORDER:1px solid #688397;
	border-bottom:0px;
	COLOR:#000000;
	BACKGROUND:url('/ISuite5/Images/Default/Universal/Styles/TabCtrl_ShadeInactive.gif') top left repeat-x;
	FONT:normal Verdana;
	LINE-HEIGHT:23px;
	MARGIN-RIGHT:3px;
	font-size:12px;
	white-space:nowrap;
	*MARGIN-RIGHT:0px;
	*margin-left:3px;
}

/* Brandable -- Page Colors -- Inactive Tab Hover BG Color */
/* Brandable -- Page Colors -- Inactive Tab Hover Font Color */
.inactivetab span:hover
{
	BACKGROUND:url('/ISuite5/Images/Default/Universal/Styles/TabCtrl_ShadeInactive.gif') top left repeat-x;
	COLOR:#000000;
}

/* Brandable -- Fonts -- Landing Page Tab Body Font Size */
.tabBodyFontSize
{
	font-size:11px;
}

/* Sets margin for menu tabs */
.OuterViewTab
{
	MARGIN:0;
	*MARGIN:-3px;
}

/*Remove Underline from Tabs*/
.OuterViewTab a
{
	text-decoration:none;
}


/* ************ */
/* Menu Control */
/* ************ */

/* ----- Common and Buttons ----- */

/* Sets no separation between menu and element above it */
.MenuDiv
{
	margin-top:0px;
}

/* Sets Previous Button positioning */
.PreviousMenues
{
	float:left;
	margin-top:-2px;
	*margin-top:-5px;
}

/* Sets Next Button positioning */
.NextMenues
{
	float:right;
	margin-top:-2px;
	*margin-top:-13px;
}

/* Upper Menu Previous/Next image style */
.MenuLevel0 ul li img
{
	cursor:pointer;
}

/* ----- Main Menu ----- */

/* Brandable -- Menu and Bar Colors -- Upper Menu Bar BG Color */
.MenuLevel0
{
	width:100%;
	font-weight:bold;
	BACKGROUND:#990000;
	background-position:top left;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#BBBBBB;
}

/* Brandable -- Menu and Bar Colors -- Upper Menu Border Color */
.MenuLevel0 ul
{
	width:100%;
	padding:4px 0px 8px 0px;
	margin:0;
	text-align:left;
}

/* Upper Menu list item style */
.MenuLevel0 ul li
{
	display:inline;
}

/* Brandable -- Menu and Bar Colors -- Upper Menu BG Color */
/* Brandable -- Menu and Bar Colors -- Upper Menu Font Color */
/* Brandable -- Menu and Bar Colors -- Upper Menu Separator Color */
/* Brandable -- Fonts -- Upper Menu Font Size */
.MenuLevel0 ul li a
{
	color:#FFFFFF;
	padding:4px 4px 8px 4px;
	margin:0;
	text-decoration:none;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#DADADA;
	font-size:11px;
	white-space:nowrap;
	BACKGROUND:#990000;
}

/* Brandable -- Menu and Bar Colors -- Upper Menu Hover BG Color */
/* Brandable -- Menu and Bar Colors -- Upper Menu Hover Font Color */
.MenuLevel0 ul li a:hover
{
	BACKGROUND:#990000;
	COLOR:#FFFFFF;
}

/* ----- Secondary Menu ----- */

/* Lower Menu main style */
.MenuLevel1
{
	position:absolute;
	top:0;
	border-bottom-width:0;
	font:normal 12px Verdana;
	line-height:18px;
	z-index:100;
	background-color:white;
	width:auto;
	visibility:hidden;
	white-space:nowrap;
	margin-top:-1px;
}

/* Brandable -- Menu and Bar Colors -- Lower Menu BG Color */
.MenuLevel1 ul
{
	margin:0px;
	padding:5px;
	*padding:0px 5px 5px 5px;
	background:#FFFFFF;
	background-repeat:repeat;
}

/* Lower Menu list item style */
.MenuLevel1 ul li
{
	list-style:none;
}

/* Brandable -- Menu and Bar Colors -- Lower Menu Font Color */
/* Brandable -- Menu and Bar Colors -- Lower Menu Separator Color */
/* Brandable -- Fonts -- Lower Menu Font Size */
.MenuLevel1 ul li a
{
	width:auto;
	display:block;
	text-indent:3px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#BBBBBB;
	padding:2px 0;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
	font-size:11px;
	white-space:nowrap;
}

/* Brandable -- Menu and Bar Colors -- Lower Menu Hover BG Color */
/* Brandable -- Menu and Bar Colors -- Lower Menu Hover Font Color */
.MenuLevel1 ul li a:hover
{
	BACKGROUND:#990000;
	COLOR:#FFFFFF;
}


/* ********************* */
/* Browser Compatibility */
/* ********************* */

/* Sets margin between menu and rest of content (for Firefox) */
.MenuLevel0:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Sets dropdown link indicator text (for Firefox) */
.MenuLevel0 ul li a[rel]:after
{
	content:"";
}

/* Sets padding of active tab (for Firefox) */
.activetab span, x:-moz-any-link
{
	PADDING:3px 3px 4.5px 3px;
}

/* Sets padding of inactive tabs (for Firefox) */
.inactivetab span, x:-moz-any-link
{
	PADDING:3px 3px 3.5px 3px;
}


